<!--Get all related built-ins on: https://docs.djangoproject.com/en/2.2/ref/templates/builtins/ -->
<html>
<body>
<center>
<h2>
Hi Everyone.</br>
This page is all about: </br></br>
</h2>
<h3>
1. Normal Name: 	&ensp;<span style="color:white;background-color:black;border-radius:4px;">
		&ensp;{{name}}&ensp; 
	</span>
</h3>

<h3>
2. Lower Case: 	&ensp;<span style="color:white;background-color:black;border-radius:4px;">
		&ensp;{{name|lower}}&ensp; 
	</span>
</h3>

<h3>
3. Truncated One Word: 	&ensp;<span style="color:white;background-color:black;border-radius:4px;">
		&ensp;{{name|truncatewords:1}}&ensp; 
	</span>
</h3>

<h3>
4. Removing Spaces or any character: 	&ensp;<span style="color:white;background-color:black;border-radius:4px;">
		&ensp;{{name|cut:" "}}&ensp; 
	</span>
</h3>

<h3>
5. Getting length: 	&ensp;<span style="color:white;background-color:black;border-radius:4px;">
		&ensp;{{name|length}}&ensp; 
	</span>
</h3>
</center>
</body>
</html>



